/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port

\#.*
\#*#
.#*
**/\#.*
**/.#*
**/#*#

.sass-cache/
**/.sass-cache/
.sass-cache/*
**/.sass-cache/*

/resources/public/javascripts/cljs-dev/
/resources/public/javascripts/dev.js
/resources/public/javascripts/cljs-production/
/resources/public/javascripts/production.js

figwheel_server.log
